
<div id="loginform">
    <br>
    <br>
    <div class="wrapper col-lg-4 col-md-5 col-sm-8 col-xs-12">
      <div class="text-center"><img class="logoset img-fluid" alt="logo" src="../../assets/logo.png"></div>
      <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <fieldset>  
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Username</label>  
          <div class="col-md-12">
          <input id="textinput" name="textinput" type="text" placeholder="username" class="form-control input-md" formControlName="username" required="">
            
          </div>
        </div>
      
      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-12">
          <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" formControlName="password" required="">
          
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="login"></label>
        <div class="col-md-4">
          <button type="submit" id="login" name="login" class="btn btn-primary">login</button>
        </div>
      </div>
      
      </fieldset>
      </form>
  </div>
</div>